/* fonts */

@font-face
{
	font-family: 'DKLemonYellowSun';
	src: url('../fonts/DK_Lemon_Yellow_Sun.otf');
}

@font-face
{
	font-family: 'GeoSans';
	src: url('../fonts/Geosans_Light.ttf');
}

@font-face
{
	font-family: 'Lapidary';
	src: url('../fonts/Lapidary_333_Regular.otf');
}

@font-face
{
	font-family: 'HeroLight';
	src: url('../fonts/Hero_Light.otf');
}

@font-face
{
	font-family: 'OpenSans';
	src: url('../fonts/Opensans_Light.ttf');
}

@font-face
{
	font-family: 'Sardonyx';
	src: url('../fonts/Sardonyx.otf');
}

/* general style */

html, body
{
	height: 100%;
	background-color: #202321;
}

html
{
	overflow-x: hidden;
	cursor: none;
}

body{

}

.cursor{
	z-index: 101;
	pointer-events: none;
	width: 20px;
	height: 20px;
	border: 2px solid white;
	border-radius: 50%;
	position: fixed;
	
	
}

.cursorClick{
	animation: cursorClickAnim 0.5s forwards;
}

@keyframes cursorClickAnim{
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(2);
		opacity: 0;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}

.cursorHover{
	width: 50px;
	height: 50px;
}

.page
{
	width: 100%; 
	padding-bottom: 10%; 
	overflow-x: hidden;
	transition: background-image 0.4s ease-in-out;
}

.pageElement{
	font-size: 40px;
	width: fit-content;
	text-align: center;
	padding: 10px;
	border-radius: 15px;
	transition: transform 0.5s;
}

.pageElement:hover{
	transform: scale(1.1);
}

.foreGround{
	height: 100%;
	width: 30%;
	position: absolute;
	transition: all ease-out 0.2s;
}

.foreGround div{
	height: 100%;
	width: 80%;
	position: absolute;
	
}

.rightFG div{
	right: 0px;
}

.leftFG{
	left: -50%;
}

.rightFG{
	right: -50%;
}

.leftFGActive{
	left: -2%;
}

.rightFGActive{
	right: -2%;
}

.text{
	position: fixed;
	width: 50%;
	height: 50%;
	top: 25%;
	left: 25%;
	background-color: blue;
}


/* landing page */
#landing{
	height: 100%;
}


#guacTitle
{
	color: #f9f9f9;
	font-family: HeroLight;
	font-size: 150px;
	margin-left: auto;
	margin-right: auto;
	width: 500px;
	text-align: center;
}


/* split */
#split{
	background-image: url('../media/images/splitMiddle.png'), url('../media/images/splitMiddleBack.png');
	background-repeat: no-repeat, no-repeat;
	background-position: 50% 75%, 50% 75%;
	background-size: 500px 500px, 1000px 500px;
}

#split .leftFG img{
	position: relative;
	top: -15%;
	left: -15%;
	height: 120%;
}

#split .rightFG img{
	position: relative;
	float: right;
	top: -15%;
	right: -15%;
	height: 120%;
}

#splitTitle
{
	color: white;
	font-family: GeoSans;
	font-size: 96px;
	text-align: center;
}


#splitAbout, #splitTeam, #splitGallery
{
	color: #f9f9f9;
	font-family: GeoSans;
	background-color: #3e7089;
}


#splitAbout
{
	position: relative;
	top: 6%;
	left: 29%;
}


#splitTeam
{
	position: relative;
	top: -10%;
	left: 64%;
}


#splitGallery
{
	position: relative;
	top: 32%;
	left: 13%;
}


/* the friend circle */
#friendCircle{
	
}


#friendCircleTitle
{
	color: #f9f9f9;
	font-family: Lapidary;
	font-size: 80px;
	text-align: center;
}


#friendAbout, #friendTrailer, #friendTeam
{
	color: #cccccc;
	font-family: Lapidary;	
	background-color: #3e7089;
}


#friendAbout
{
	position: relative;
	top: 50%;
	left: 17%;
}


#friendTrailer
{
	position: relative;
	top: 45%;
	left: 73%;
}


#friendTeam
{
	position: relative;
	left: 20%;
	top: -10%;
}


/* infographic */
#infographic{

}

#infographicTitle
{
	color: #1f2521;
	font-family: DKLemonYellowSun;
	font-size: 5em;
	text-align: center;
}


#infographicAbout, #infographicTeam
{
	color: #1f2521;
	font-family: DKLemonYellowSun;
	background-color: #3e7089;
}


#infographicAbout
{
	position: relative;
	top: 20%;
	left: 12%;
}


#infographicTeam
{
	position: relative;
	top: 10%;
	left: 70%;
}


/* lyric videos */

/* heaven */
#heaven
{
	
}


#heavenTitle
{
	color: #fcfcfb;
	font-family: Arial;
	font-size: 80px;
	text-align: center;
	height: 25%;
}


#heavenAbout, #heavenTeam
{
	color: #fcfcfb;
	font-family: Arial;
	background-color: #3e7089;
}


#heavenAbout
{
	position: relative;
	top: 40%;
	left: 7%
}

#heavenTeam
{
	position: relative;
	top: 21.5%;
	left: 63%
}


/* mama */
#mama
{
	
}


#mamaTitle
{
	color: #fcfcfb;
	font-family: Sardonyx;
	font-size: 95px;
	text-align: center;
	height: 25%;
}


#mamaAbout, #mamaTeam
{
	color: #fcfcfb;
	font-family: Sardonyx;
	background-color: #3e7089;
}


#mamaAbout
{
	position: relative;
	top: 35.5%;
	left: 7%
}

#mamaTeam
{
	position: relative;
	top: 16.5%;
	left: 75%
}


/* hopman brewery */
#hopman{
	
}


#hopmanTitle
{
	color: #1a1a1a;
	font-family: GeoSans;
	font-size: 80px;
	text-align: center;
}


/* contact page */
#contact
{
	font-family: HeroLight;
	background-color: #202321;
	color: white;
	text-align: left;
	padding-top: 25px;
}

#contactTitle
{
	color: #f9f9f9;
	font-size: 80px;
	text-align: center;
	
}



/* navbar style */
#navbar {
	height: 25%; 
	width: 70%;
	margin: auto;
	
	position: fixed;
	right: 20%;
	top: 60%;
	background-color: #00000000;
	z-index: 99;
	border-radius: 25px 25px 25px 25px;
}

.navButton {
	height: 100px;
	width: 100px;
	border-radius: 100%;
	transition: all 0.3s, visibility 0s;
}

.navButton:hover {
	transform: scale(1.3);
}

.sideNav {
	height: 38% !important;
	width: 3% !important;
	margin: auto;
	position: fixed;
	right: 0%  !important;
	top: 23%  !important;
	background-color: #00000096  !important;
	z-index: 99;
	border-radius: 25px 0px 0px 25px  !important;
	transition: all 0.3s, background-color 2s;
}

.sideNav .navButton{
	height: 20px;
	width: 20px;
}

.sideNav #landingButton{
	visibility: visible;
}

#landingButton{
	visibility: hidden;
	background-color: #202321;
}

#splitButton {
	background-image: url('../media/images/splitAni.gif');
	background-size: 100% 100%;
}

#friendCircleButton {
	background-image: url('../media/images/friendCircleAni.gif');
	background-size: 100% 100%;
} 

#inforgraphicButton {
	background-image: url('../media/images/infographicAni.gif');
	background-size: 100% 100%;
}

#lyricVideosButton {
	background-image: url('../media/images/lyricVideosAni.gif');
	background-size: 100% 100%;
}

#hopmanButton {
	background-image: url('../media/images/hopmanAni.gif');
	background-size: 100% 100%;
}

#contact{
	position: fixed;
	background-color: #323531;
	top: -50px;
	right: -50px;
	width: 200px;
	height: 200px;
	border-radius: 100%;
	background-image: url('../media/images/contact.png');
	background-size: 100px 100px;
	background-repeat: no-repeat;
	background-position: 30% 70%;
	transition: all 0.5s;
}

#contact:hover {
	transform: scale(1.3);
}

.contactContentHidden{
	display: none;
}


.showContact{
	top: 0px !important;
	right: 0px !important;
	width: 100% !important;
	height: 100% !important;
	border-radius: 0px !important;
	background-image: url('../media/images/contactExit.png') !important;
	z-index: 100;
}

.showContact:hover{
	transform: scale(1) !important;
}

a{
	text-decoration: none;
	color: white;
}

a:hover{
	text-decoration: none;
	color: white;
	transform: scale(1.2);
}

.contactDetail{
	border-radius: 10px;
	background-color: #202321;
}

#contactExit{
	position: fixed;
	background-color: #323531;
	top: -50px;
	right: -50px;
	width: 200px;
	height: 200px;
	border-radius: 100%;
	background-image: url('../media/images/contactExit.png');
	background-size: 100px 100px;
	background-repeat: no-repeat;
	background-position: 30% 70%;
	transition: all 0.5s;
}