/* fonts */

@font-face
{
	font-family: 'DKLemonYellowSun';
	src: url('../fonts/DK_Lemon_Yellow_Sun.otf');
}

@font-face
{
	font-family: 'GeoSans';
	src: url('../fonts/Geosans_Light.ttf');
}

@font-face
{
	font-family: 'HeroLight';
	src: url('../fonts/Hero_Light.otf');
}

@font-face
{
	font-family: 'OpenSans';
	src: url('../fonts/Opensans_Light.ttf');
}

@font-face
{
	font-family: 'Sardonyx';
	src: url('../fonts/Sardonyx.otf');
}

/* general style */

html, body
{
	height: 100%;
}

html
{
	overflow-x: hidden;
}

body{

}

.page
{
	width: 100%; 
	height: 100%;
	overflow-x: hidden;
}

.leftFG, .rightFG{
	height: 100%;
	width: 30%;
	background-color: #a9a9a973;
	position: absolute;
	transition: all 2s;

}

.leftFG{
	left: -30%;
	transform: rotate(-20deg);
}

.rightFG{
	right: -30%;
	transform: rotate(20deg);
}

.leftFGActive{
	left: 0px;
	transform: rotate(0deg);
}

.rightFGActive{
	right: 0px;
	transform: rotate(0deg);
}



/* landing page */
#landing{

}


#guacTitle
{
	color: #f9f9f9;
	font-family: HeroLight;
	font-size: 150px;
	position: relative;
	display: block;
	margin-left: auto;
	margin-right: auto;
	top: 28%;
	width: 500px;
	text-align: center;
	
}


/* split */
#split{

}


#splitTitle
{
	color: black;
	font-family: GeoSans;
	font-size: 85px;
	position: relative;
	display: block;
	margin-left: auto;
	margin-right: auto;
	top: 3%;
	width: 300px;
	text-align: center;
}


#split h2
{
	color: #f9f9f9;
	font-family: GeoSans;
	font-size: 40px;
	background-color: #3e7089;
	width: 220px;
	text-align: center;
	padding: 5px;
}


#splitAbout
{
	position: relative;
	top: 6%;
	left: 24%;
}


#splitTeam
{
	position: relative;
	top: -10%;
	left: 64%;
}


#splitGallery
{
	position: relative;
	top: 32%;
	left: 13%;
}


/* the friend circle */
#friendCircle{
	
}


#filmTitle
{
	color: #f9f9f9;
	font-family: OpenSans;
	font-size: 80px;
	position: relative;
	display: block;
	margin-left: auto;
	margin-right: auto;
	top: 3%;	
	text-align: center;
}


#friendCircle h2
{
	color: #cccccc;
	font-family: OpenSans;	
	text-align: center;
}


#friendAbout
{
	position: relative;
	top: 50%;
	left: 17%;
	width: 100px;
}


#friendTrailer
{
	position: relative;
	top: 55%;
	left: 73%;
	width: 100px;
}


#friendTeam
{
	position: relative;
	left: 80%;
	width: 200px;
}


/* infographic */
#infographic{

}


#infographicTitle
{
	color: #1f2521;
	font-family: DKLemonYellowSun;
	font-size: 80px;
	text-align: center;
	position: relative;
	display: block;
	margin-left: auto;
	margin-right: auto;
	top: 3%;
	width: 850px;	
}


#infographic h2
{
	color: #1f2521;
	font-family: DKLemonYellowSun;
}


#infographicAbout
{
	position: relative;
	top: 15%;
	left: 12%;
}


#infographicTeam
{
	position: relative;
	top: 10%;
	left: 76%;
}


/* lyric videos */

/* heaven */
#heaven
{
	position: relative;
	width: 50%;
	height: 100%;
	display: inline-block;
}


#heavenTitle
{
	color: #fcfcfb;
	font-family: Arial;
	font-size: 80px;
	text-align: center;
	position: relative;
	display: block;
	margin-left: auto;
	margin-right: auto;
	top: 3%;
	width: 500px;
}


#heaven h2
{
	color: #fcfcfb;
	font-family: Arial;
}


#heavenAbout
{
	position: relative;
	top: 60%;
	left: 5%;
}

#heavenTeam
{
	position: relative;
	top: 63%;
	left: 5%;
}


/* mama */
#mama
{
	position: relative;
	width: 50%;
	height: 100%; 
	float: right;
}


#mamaTitle
{
	color: #fcfcfb;
	font-family: Sardonyx;
	font-size: 95px;
	text-align: center;
	position: relative;
	display: block;
	margin-left: auto;
	margin-right: auto;
	top: 5%;
	width: 500px;
}


#mama h2
{
	color: #fcfcfb;
	font-family: Sardonyx;
}


#mamaAbout
{
	position: relative;
	top: 60%;
	left: 5%;
}

#mamaTeam
{
	position: relative;
	top: 63%;
	left: 5%;
}


/* hopman brewery */
#hopman{
	
}


#hopmanTitle
{
	color: #1a1a1a;
	font-family: GeoSans;
	font-size: 80px;
	text-align: center;
	position: relative;
	display: block;
	margin-left: auto;
	margin-right: auto;
	top: 3%;
	width: 700px;
}


/* contact page */
#contact
{
	font-family: HeroLight;
	background-color: #202321;
	color: white;
	text-align: left;
	padding-top: 25px;
}

#contactTitle
{
	color: #f9f9f9;
	font-size: 80px;
	text-align: center;
	
}


#contactImages
{
	position: relative;
	/*background-color: white;*/
	margin-right: auto;
	margin-left: auto;
	width: 200px;
	text-align: center;
}


#gmailImage
{
	width: 70px;
	margin: 0;

}


#whatsappImage
{
	width: 100px;

}


#contactUs
{
	position: relative;
	left: 10%;
	height: 445px;
	width: 300px;
}


#contactUs div
{
	margin-bottom: 20px;
	font-size: 20px;
}


#contactUs a
{
	font-size: 17px;
}