/* fonts */

@font-face
{
	font-family: 'DKLemonYellowSun';
	src: url('../fonts/DK_Lemon_Yellow_Sun.otf');
}

@font-face
{
	font-family: 'GeoSans';
	src: url('../fonts/Geosans_Light.ttf');
}

@font-face
{
	font-family: 'HeroLight';
	src: url('../fonts/Hero_Light.otf');
}

@font-face
{
	font-family: 'OpenSans';
	src: url('../fonts/Opensans_Light.ttf');
}

@font-face
{
	font-family: 'Sardonyx';
	src: url('../fonts/Sardonyx.otf');
}

/* general style */

html, body
{
	height: 100%;
	background-color: #202321;
}

html
{
	overflow-x: hidden;
	cursor: none;
}

body{

}

.cursor{
	z-index: 99;
	pointer-events: none;
	width: 20px;
	height: 20px;
	border: 2px solid white;
	border-radius: 50%;
	position: fixed;
	
	
}

.cursorClick{
	animation: cursorClickAnim 0.5s forwards;
}

@keyframes cursorClickAnim{
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(2);
		opacity: 0;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}

.cursorHover{
	width: 50px;
	height: 50px;
}

.page
{
	width: 100%; 
	padding-bottom: 10%; 
	overflow-x: hidden;
}

.pageElement{
	font-size: 40px;
	width: fit-content;
	text-align: center;
	padding: 10px;
	border-radius: 15px;
	transition: transform 0.5s;
}

.pageElement:hover{
	transform: scale(1.1);
}

.foreGround{
	height: 100%;
	width: 30%;
	position: absolute;
	transition: all ease-out 0.2s;
}

.foreGround div{
	height: 100%;
	width: 80%;
	position: absolute;
	background-color: #a9a9a973;
}

.rightFG div{
	right: 0px;
}

.leftFG{
	left: -50%;
	transform: rotate(-20deg);
}

.rightFG{
	right: -50%;
	transform: rotate(20deg);
}

.leftFGActive{
	left: 0%;
	transform: rotate(0deg);
}

.rightFGActive{
	right: 0%;
	transform: rotate(0deg);
}



/* landing page */
#landing{

}


#guacTitle
{
	color: #f9f9f9;
	font-family: HeroLight;
	font-size: 150px;
	margin-left: auto;
	margin-right: auto;
	width: 500px;
	text-align: center;
}


/* split */
#split{

}


#splitTitle
{
	color: black;
	font-family: GeoSans;
	font-size: 85px;
	text-align: center;
}


#splitAbout, #splitTeam, #splitGallery
{
	color: #f9f9f9;
	font-family: GeoSans;
	background-color: #3e7089;
}


#splitAbout
{
	position: relative;
	top: 6%;
	left: 24%;
}


#splitTeam
{
	position: relative;
	top: -10%;
	left: 64%;
}


#splitGallery
{
	position: relative;
	top: 32%;
	left: 13%;
}


/* the friend circle */
#friendCircle{
	
}


#friendCircleTitle
{
	color: #f9f9f9;
	font-family: OpenSans;
	font-size: 80px;
	text-align: center;
}


#friendAbout, #friendTrailer, #friendTeam
{
	color: #cccccc;
	font-family: OpenSans;	
	background-color: #3e7089;
}


#friendAbout
{
	position: relative;
	top: 50%;
	left: 17%;
}


#friendTrailer
{
	position: relative;
	top: 45%;
	left: 73%;
}


#friendTeam
{
	position: relative;
	left: 65%;
	top: -10%;
}


/* infographic */
#infographic{

}

#infographicTitle
{
	color: #1f2521;
	font-family: DKLemonYellowSun;
	font-size: 5em;
	text-align: center;
}


#infographicAbout, #infographicTeam
{
	color: #1f2521;
	font-family: DKLemonYellowSun;
	background-color: #3e7089;
}


#infographicAbout
{
	position: relative;
	top: 15%;
	left: 12%;
}


#infographicTeam
{
	position: relative;
	top: 10%;
	left: 76%;
}


/* lyric videos */

/* heaven */
#heaven
{
	
}


#heavenTitle
{
	color: #fcfcfb;
	font-family: Arial;
	font-size: 80px;
	text-align: center;
	height: 25%;
}


#heavenAbout, #heavenTeam
{
	color: #fcfcfb;
	font-family: Arial;
	background-color: #3e7089;
}


#heavenAbout
{
	position: relative;
	top: 40%;
	left: 7%
}

#heavenTeam
{
	position: relative;
	top: 21.5%;
	left: 63%
}


/* mama */
#mama
{
	
}


#mamaTitle
{
	color: #fcfcfb;
	font-family: Sardonyx;
	font-size: 95px;
	text-align: center;
	height: 25%;
}


#mamaAbout, #mamaTeam
{
	color: #fcfcfb;
	font-family: Sardonyx;
	background-color: #3e7089;
}


#mamaAbout
{
	position: relative;
	top: 35.5%;
	left: 7%
}

#mamaTeam
{
	position: relative;
	top: 16.5%;
	left: 75%
}


/* hopman brewery */
#hopman{
	
}


#hopmanTitle
{
	color: #1a1a1a;
	font-family: GeoSans;
	font-size: 80px;
	text-align: center;
}


/* contact page */
#contact
{
	font-family: HeroLight;
	background-color: #202321;
	color: white;
	text-align: left;
	padding-top: 25px;
}

#contactTitle
{
	color: #f9f9f9;
	font-size: 80px;
	text-align: center;
	
}


#contactImages
{
	position: relative;
	/*background-color: white;*/
	margin-right: auto;
	margin-left: auto;
	width: 200px;
	text-align: center;
}


#gmailImage
{
	width: 70px;
	margin: 0;

}


#whatsappImage
{
	width: 100px;

}


#contactUs
{
	position: relative;
	left: 10%;
	height: 445px;
	width: 300px;
	float: left;
	display: inline;
}


#contactUs div
{
	margin-bottom: 20px;
	font-size: 20px;
}


#contactUs a
{
	font-size: 17px;
}


#contactYou
{
	position: relative;
	float: left;
	display: inline;
	left: 52%;
}



/* navbar style */
#navbar {
	height: 25%; 
	width: 70%;
	margin: auto;
}

.navButton {
	margin: 0px;
	height: 100px;
	width: 100px;
	border-radius: 100%;
	transition: all 0.3s;
}

.navButton:hover {
	transform: scale(1.3);
}

#landingButton{
	display: none;
	background-color:  #202321;
}

#splitButton {
	background-color: #c5b8e6;
}

#friendCircleButton {
	background-color: #0b0022;
} 

#inforgraphicButton {
	background-color: #aed7d3;
}

#lyricVideosButton {
	background-color: white;
}

#hopmanButton {
	background-color: #e6f7ca;
}

